@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
}

#notificationContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.top-left { top: 10%; left: 10%; }
.top-right { top: 10%; right: 10%; }
.bottom-left { bottom: 10%; left: 10%; }
.bottom-right { bottom: 10%; right: 10%; }
.center-left { top: 50%; left: 10%; transform: translateY(-50%); }
.center-right { top: 50%; right: 10%; transform: translateY(-50%); }

.notification {
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s forwards;
    margin-bottom: 10px; 
    line-height: 1.5; 
    font-size: 16px; 
    font-weight: 400;
    opacity: 0; 
}

.notification-title {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Fade-out */
.notification.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Default colors */
.default { background: rgba(0, 0, 0, 0.7); }
.primary { background: rgba(24, 87, 170, 0.7); }
.success { background: rgba(53, 151, 62, 0.7); }
.error { background: rgba(222, 31, 31, 0.7); }
